.Result{
  margin: 3rem auto;
  width: 600px;
  max-width: 90%;
  box-sizing: border-box;
  text-align: center;
  background: #e8e8e8;
  border-radius: 8px;
  padding: 0px 15px 15px;
  overflow: auto;
}

.Result span.email, .Result .error{
  background: #5b23ae;
  padding: 10px 15px;
  color: white;
  border-radius: 10px;
  display: inline-block;
  margin: 0 10px 10px 0;
}
